# Dependencies
node_modules/

# Environment variables
.env

# Project specific
downloads/
*.log
script/
transcript.txt
rapid.js
output.txt

# macOS system files
.DS_Store
**/.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.DS_Store
